* {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
}

.container {
    display: grid;
    grid-template-areas:
       "nav"
       "filtros"
       "main"
       "footer";
    grid-template-rows: 60px/*nav*/ 60px/*filtros*/ 1fr/*principal*/ 60px/*footer*/; 
    height: 100%;
    width: 100%;
}

.nav-section {
    color: white; 
    background: #e4c1b3; 
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
} 

.nav-section > .logo {
    display: flex;
    gap: 5px;
}

.nav-section > ul {
    display: none;
}

.logo {
    display: flex;
    gap: 5px;
}

.filtros-section {
    grid-area: filtros;
    background-color: #c6ccc7;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.filtros-section > .opcion {
    width: 280px;
    height: 35px;
    padding-left: 5px;
}

.main-section {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section > .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; 
    gap: 10px;
}

.main-section > .card-container > .card {
    display: flex; /* Activa el modelo Flexbox en el contenedor de la tarjeta */
    flex-direction: column; /* Organiza los elementos en columnas */
    align-items: center; /* Centra los elementos horizontalmente en el contenedor */
    padding: 35px 0; /* Agrega espacio interno */
    gap: 15px;
    height: fit-content;
    width: 220px; /* Ancho máximo de la tarjeta, ajusta según tus necesidades */
}

.card-container > .card > img {
    width: 200px; /* Asegura que la imagen no sea más ancha que su contenedor */
    height: 300px;
}

.main-section p {
    margin: 10px 0; /* Espacio superior e inferior para el nombre del producto */
}

.main-section > .card-container > .card > button {
    background-color: #e4c1b3; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Espacio interno del botón */
    margin-top: 10px; /* Espacio superior para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.main-section > .navegador {
    display: flex;
}

.navegador > button {
    background-color: #e4c1b3;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.footer {
    grid-area: footer; 
    background: #c6ccc7; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer > div {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 3px;
}

@media (min-width: 576px) { 
    .container {
        grid-template-areas:
           "nav filtros"
           "nav main"
           "footer main";
        grid-template-columns: 150px 1fr;
        grid-template-rows: 60px 1fr 60px; 
    }
    .main-section > .card-container {
        flex-direction: row; 
        flex-wrap: wrap;
    }
    .nav-section {
        flex-direction: column;
        justify-content: start;
        gap: 35px;
        padding: 15px;
    }
    .nav-section > ul {
        list-style: none;
    }
    .nav-section > ul {
        display: block;
    }
    .nav-section > .logos {
        flex-direction: column;
        align-items: center;
    }
    .nav-section > .logos > h1 {
        text-align: center;
    }
    .nav-section > .bars {
        display: none;
    }
}